/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea/.gitignore
/.idea/AKAI-generator-wnioskow-symfony.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
