version: '3'

services:
  web:
    image: nginx:1.23
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/nginx/conf:/etc/nginx/conf.d
      - ./docker/nginx/logs:/var/log/nginx
  app:
    build: .
    volumes:
      - .:/app

  database:
    hostname: database
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=db_password
      - MYSQL_DATABASE=wnioski
      - MYSQL_USER=db_user
      - MYSQL_PASSWORD=db_password
    volumes:
      - ./docker/mysql/storage:/var/lib/mysql
