.footer > div {
    width: auto;
}

footer {
    margin: 0;
    background-color: #343a40;
    display: flex;
    padding: 15px 0;
}

.footerNapis {
    color: #d3d3d3;
    padding-left: 50px;
    padding-bottom: 15px;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
}

.logo {
    padding: 15px 21px 15px 10px;
}

footer > .logos {
    display: flex;
    flex-direction: row-reverse;
}
